@font-face { font-family: AquilineTwo; src: url(AquilineTwo.ttf);}
@font-face { font-family: Medici; src: url(MediciText.ttf);}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	margin: 0;
  background-image: url("oldpaper2.png");
  line-height: 1.5;
  text-align: left;
  background-color: #efdcbb;
}
hr {
  font-family: AquilineTwo;
  }
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  font-family: AquilineTwo;
  font-size: 25px;
  }
  a {
  color: #cc0000;
}

a:hover {
  color: #cc0000;
  text-decoration: none;
}
#file {
  font-family: AquilineTwo;
  font-size: 20px;
  font-weight: 200;
  padding-right: 15px;
	padding-left: 45px;
	margin: 0px;
}
/*--------------------------------------------------------------
# Jumbotron
--------------------------------------------------------------*/
.jumbotron{
  background-image: url("border.jpg");
  background-color: #efdcbb;
  border-radius: 3%;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron  h1{
  font-family: Medici;
  font-size: 40px;
  color: #cc0000;
}
/*--------------------------------------------------------------
# Time options
--------------------------------------------------------------*/
.time #time-flters {
  margin: 0 auto 5px auto;
  list-style: none;
  text-align: center;
  font-family: Medici;
  padding: 5px 8px;
  background-color: #efdcbb;
  background-image: url("border.jpg");
}

.time #time-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 20px;
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase;
  color: #cc0000;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.time #time-flters li:hover, .time #time-flters li.filter-active {
  color:  #cc0000;
}

.time #time-flters li:last-child {
  margin-right: 0;
}
/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/
figure img {
  width: 400px;
  height: 200px;
  background: #a84909;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  
}
img {
	-webkit-filter: sepia(80%) saturate(200%);
          filter: sepia(80%) saturate(200%);
}
/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background-image: url("border2.jpg");
  background: #efdcbb;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #efdcbb;
  transition: background 0.2s ease-in-out;
}
