@font-face { font-family: AquilineTwo; src: url(AquilineTwo.ttf);}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	margin: 0;
  font-family: AquilineTwo;
  background-image: url("oldpaper2.png");
  line-height: 1.5;
  text-align: left;
  background-color: #efdcbb;
}
/*--------------------------------------------------------------
# Jumbotron
--------------------------------------------------------------*/
.jumbotron{
	background-image: url("border");
  background-color: #efdcbb;
  border-radius: 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron  h1{
  font-family: AquilineTwo;
  font-size: 40px;
  color: #813c46;
}
/*--------------------------------------------------------------