@font-face { font-family: AquilineTwo; src: url(AquilineTwo.ttf);}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	margin: 0;
  font-family: AquilineTwo;
  background-image: url("old paper.png");
  background-color: #cccccc;
  font-family: "Lucida Console", "Courier New", monospace;
}