@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(38, 40, 51, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: #44476A;
    text-align: left;
    background-color: #e6e7ee;
}

#file {
  border-radius: 50px;
  background: #e6e7ee;
  box-shadow:  25px 25px 60px #d9d9d9,
                 -25px -25px 60px #ffffff;
}
/*--------------------------------------------------------------
# Jumbotron
--------------------------------------------------------------*/
.jumbotron {
  border-radius: 50px;
  background: #e6e7ee;
  box-shadow:  25px 25px 60px #d9d9d9,
               -25px -25px 60px #ffffff;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Time options
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Side column choices
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
