@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap');
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  color: #32344b;
  text-align: left;
  background-color: #e6e7ee;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 400
}

p {
    margin-top: 0;
    margin-bottom: 16px;
}

#file {
  border-radius: 30px;
  background: #e6e7ee;
  box-shadow:  20px 20px 40px #c2c5ca,
               -20px -20px 40px #ffffff;
}
/*--------------------------------------------------------------
# Jumbotron
--------------------------------------------------------------*/
.jumbotron {
  border-radius: 30px;
  background: #e6e7ee;
  box-shadow:  20px 20px 40px #c2c5ca,
               -20px -20px 40px #ffffff;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Time options
--------------------------------------------------------------*/
.time #time-flters {
  margin: 0 auto 5px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 5px;
  background: #e6e7ee;
  box-shadow:  20px 20px 40px #c2c5ca,
               -20px -20px 40px #ffffff;
}

.time #time-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 200;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.time #time-flters li:hover, .time #time-flters li.filter-active {
  color:  #f1948a;
}

.time #time-flters li:last-child {
  margin-right: 0;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/
figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 1%;
  box-shadow:  10px 10px 20px #c2c5ca,
               -10px -10px 20px #ffffff;
}

img {
  -webkit-filter: hue-rotate(185deg);
    filter: hue-rotate(185deg);
}
 blockquote {
   align-items: center;
 }
/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
#file table {
	max-width: 70%;
	border-collapse: collapse;
	width: 100%;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset 20px 20px 60px #d9d9d9,
              inset -20px -20px 60px #ffffff;
}

#file th {
  background-color: #f2f2f2;
}

#file th, td {
  text-align: left;
  padding: 8px;
}

#file tr:nth-child(even) {
  background-color: #ffe6e6;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: linear-gradient(145deg, #fff2e5, #e6cbc1);
  box-shadow:  5px 5px 10px #c2c5ca,
               -5px -5px 10px #ffffff;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #edb5af;
  box-shadow: 5px 5px 10px #c2c5ca,
              -5px -5px 10px #ffffff;
  transition: background 0.2s ease-in-out;
}
