@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #32344b;
  text-align: left;
  background-color: #e6e7ee;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

#file {
  border-radius: 30px;
  background: #e6e7ee;
  box-shadow:  20px 20px 40px #c2c5ca,
               -20px -20px 40px #ffffff;
}
/*--------------------------------------------------------------
# Jumbotron
--------------------------------------------------------------*/
.jumbotron {
  border-radius: 30px;
  background: #e6e7ee;
  box-shadow:  20px 20px 40px #c2c5ca,
               -20px -20px 40px #ffffff;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Time options
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
.table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  width: 50px;
  border-spacing: 0;
  color: #212121;
  text-align: center;
  overflow: hidden;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.6);
}
table thead{
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6);
}
table th{
  padding: 7px;
}

table>tbody>tr>td {
  padding: 10px;
  font-size: 14px;
  position: relative;
}

table>tbody>tr:hover {
  padding: 20px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.6);
}

table tr td:first-child::before {
  content: "";
  position: absolute;
  padding: 7px;
  top: 0;
  left: -5000px;
  width: 10000px;
  height: 100%;
  z-index: -10;
}

table td:hover::after {
  content: "";
  position: absolute;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.6);
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}
