@font-face { font-family: Eckmann-Schrift; src: url(eckmann_font/ECKMA.ttf);}
@font-face { font-family: Eckmann-Schrift; src: url(eckmann_font/ECKMANN.ttf);}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  margin: 0;
  line-height: 1.5;
  text-align: left;
  background-color: #efdcbb;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: Eckmann-Schrift;
  font-size: 25px;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: justify;
}

a {
  color: #7c8254;
}
a:hover {
  color: #7c8254;
  text-decoration: none;
}

#file {
  font-family: Eckmann-Schrift;
  font-size: 15px;
  column-count: 3;
  column-gap: 20px;
  padding-right: 15px;
	padding-left: 45px;
	margin: 0px;
}

/* For Mobile */
@media screen and (max-width: 540px) {
  #file {
    column-count: 1;
    padding-right: 15px;
    padding-left: 45px;
    margin: 0px;
  }

  #sidebar background-image {
    display: none;
  }
}

/*--------------------------------------------------------------
# Jumbotron
--------------------------------------------------------------*/
.jumbotron{
  background-color: #efdcbb;
  background-image: url("frameartnou.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.jumbotron  h1{
  font-family: Eckmann-Schrift;
  font-size: 50px;
  color: #813c46;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Time options
--------------------------------------------------------------*/
.time #time-flters {
  margin: 0 auto 5px auto;
  list-style: none;
  text-align: center;
  font-family: Eckmann-Schrift;
  padding: 2px 5px;
  background-color: #efdcbb;
}

.time #time-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #c87a2d;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.time #time-flters li:hover, .time #time-flters li.filter-active {
  color:  #7c8254;
}

.time #time-flters li:last-child {
  margin-right: 0;
}
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
#sidebar {
  font-family: Eckmann-Schrift;
  font-size: 20px;
  background-image: url('MuchaAdv.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/
img {
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
#file table {
	display: none;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #7c8254;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #c87a2d;
  transition: background 0.2s ease-in-out;
}
