@@font-face {
  font-family: Normal;
  src: url("ECKMA.ttf");
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Jumbotron
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Time options
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/
img {
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
