@font-face { font-family: Eckmann-Schrift; src: url(eckmann_font/ECKMA.ttf);}
@font-face { font-family: Eckmann-Schrift; src: url(eckmann_font/ECKMANN.ttf);}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  margin: 0;
  line-height: 1.5;
  text-align: left;
  background-image: url('borderfloreal.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #fbebdc;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: Eckmann-Schrift;
  font-size: 25px;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}

#file {
  font-family: Eckmann-Schrift;
  font-size: 15px;
  column-count: 3;
  column-gap: 20px;
  padding-right: 15px;
	padding-left: 45px;
	margin: 0px;
  background-image: url('');
}

/*--------------------------------------------------------------
# Jumbotron
--------------------------------------------------------------*/
.jumbotron{
	background-image: url('');
  background-color: #fbebdc;
}

.jumbotron  h1{
  font-family: Eckmann-Schrift;
  font-size: 60px;
  color: #fff;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Time options
--------------------------------------------------------------*/
#time-filters {
  font-family: Eckmann-Schrift;
  font-size: 20px;
  background-image: url('timebg.jpg');
}
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
#sidebar {
  font-family: Eckmann-Schrift;
  font-size: 20px;
  background-image: url('MuchaAdv.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
}

/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/
img {
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
